@charset "UTF-8";

/**********************************************************************
 Article

 [HTML]
 <article class="article">
   <h1></h1>
   <h2></h2>
   <p><a></a></p>
 </article>
**********************************************************************/
.article {
    font-size: medium;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 700px;
    padding: 0;
    word-break: break-all;
}


.article *:not([class]) {
    line-height: 1.5;
}


.article h1:not([class]),
.article h2:not([class]),
.article h3:not([class]) {
    font-weight: bold;
}



.article h1:not([class]) {
    font-size: 1.5rem;
    margin: 3.0em 0 1.0em;
}
.article h1.text-align-center {
    font-size: 1.5rem;
    margin: 3.0em 0 1.0em;
    text-align: center;
}
@media screen and (min-width: 768px) {
    .article h1:not([class]) {
        font-size: 1.75rem;
    }
    .article h1.text-align-center {
        font-size: 1.75rem;
    }
}
@media screen and (min-width: 1024px) {
    .article h1:not([class]) {
        font-size: 2.0rem;
    }
    .article h1.text-align-center {
        font-size: 2.0rem;
    }
}


.article h2:not([class]) {
    border-bottom: 2px solid;
    font-size: 1.3rem;
    margin: 2.0em 0 1.0em;
}
@media screen and (min-width: 768px) {
    .article h2:not([class]) {
         font-size: 1.4rem;
     }
}
@media screen and (min-width: 1024px) {
    .article h2:not([class]) {
         font-size: 1.5rem;
     }
}


.article h3:not([class]) {
    font-size: 1.15rem;
    margin: 2.0em 0 1.0em;
}
@media screen and (min-width: 768px) {
    .article h3:not([class]) {
         font-size: 1.175rem;
     }
}
@media screen and (min-width: 1024px) {
    .article h3:not([class]) {
         font-size: 1.2rem;
     }
}


.article ul:not([class]) {
    line-height: 1.75;
    list-style-type: disc;
    margin: 1.0em 0 1.0em 1.0em;
}
.article ul ul:not([class]) {
    list-style-type: circle;
    margin: 0 0 0 1.0em;
}
.article ul ul ul:not([class]) {
    list-style-type: square;
}


.article ol:not([class]) {
    line-height: 1.75;
    list-style-type: decimal;
    margin: 1.0em 0 1.0em 1.0em;
}
.article ol ol:not([class]) {
    margin: 0 0 0 1.0em;
}


.article p:not([class]) {
    font-size: 1.0rem;
    margin: 1.0em 0;
}


.article a:not([class]) {
    color: #007bff;
    font-size: 1.0rem;
    text-decoration: underline;
}


.article small:not([class]) {
    font-size: small;
}
