@charset "UTF-8";

/**********************************************************************
 Article card

 [HTML]
 <ul class="article-card">
   <li class="item">
     <a class="link" href="">
       <div class="img-box">
         <img class="img" src="" alt="" loading="lazy">
       </div>
       <div class="content-box">
         <h3 class="title">TITLE</h3>
         <p class="excerpt">EXCERPT</p>
         <time class="date" datetime="YYYY-MM-DD">YYYY-MM-DD</time>
       </div>
     </a>
   </li>
 </ul>
**********************************************************************/
.article-card {
    align-items: flex-start;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    line-height: 1.5;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.article-card.important {
    align-items: flex-start !important;
    display: -webkit-flex !important;
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 20px !important;
    line-height: 1.5 !important;
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}
.article-card > .item {
    display: block;
    width: 100%;
}
@media screen and (min-width: 600px) {
    .article-card > .item {
        width: calc(50% - 10px);
    }
    .article-card[data-max-cols-min-width-600="1"] > .item {
        width: 100%;
    }
}
@media screen and (min-width: 896px) {
    .article-card > .item {
        width: calc(33.33% - 13.33px);
    }
    .article-card[data-max-cols-min-width-896="2"] > .item {
        width: calc(50% - 10px);
    }
}
@media screen and (min-width: 1200px) {
    .article-card > .item {
        width: calc(25% - 15px);
    }
    .article-card[data-max-cols-min-width-1200="3"] > .item {
        width: calc(33.33% - 13.33px);
    }
    .article-card[data-max-cols-min-width-1200="2"] > .item {
        width: calc(50% - 10px);
    }
}
.article-card > .item > .link {
    color: inherit;
    display: block;
    font-size: inherit;
    text-decoration: none;
    transition: opacity 0.3s;
    width: 100%;
}
.article-card > .item > .link:hover {
    opacity: 0.6;
}
.article-card > .item .img-box {
    aspect-ratio: 1.618 / 1;
    display: block;
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.article-card > .item .img-box > .label {
    background-color: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    display: inline-block;
    font-size: 0.7em;
    font-weight: bold;
    left: 5px;
    padding: 5px 10px;
    position: absolute;
    top: 5px;
    word-break: break-all;
    z-index: 2;
}
.article-card > .item .img-box .img {
    display: block;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    width: 100%;
}
.article-card > .item .img-box .img.contain {
    object-fit: contain;
}
.article-card > .item > .link:hover > .img-box .img {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.article-card > .item .content-box {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}
.article-card > .item .content-box > .title {
    font-size: 1.15em;
    font-weight: bold;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    word-break: break-all;
}
.article-card > .item > .link:hover > .content-box > .title {
    text-decoration: underline;
}
.article-card > .item .content-box > .excerpt {
    font-size: 0.85em;
    line-height: 1.2;
    margin: 5px 0 0 0;
    opacity: 0.7;
    padding: 0;
    word-break: break-all;
}
.article-card > .item .content-box > .date {
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 5px;
    opacity: 0.7;
    padding: 0;
    text-align: right;
    word-break: break-all;
}
