@charset "UTF-8";

/**********************************************************************
 .layout-two-cols
**********************************************************************/
.layout-two-cols {
    display: -webkit-flex;
    display: flex;
    width: 100%;
}
.layout-two-cols > .layout-two-cols-side {
    box-sizing: border-box;
    display: none;
    flex: 0 0 0;
    min-width: 0;
    position: relative;
    transition: flex-basis 0.3s;
    z-index: 1;
}
@media screen and (min-width: 1200px) {
    .layout-two-cols > .layout-two-cols-side {
        display: block;
        flex-basis: 30vw;
    }
}
.layout-two-cols > .layout-two-cols-content {
    flex: 1 1 100vw;
    min-width: 0;
    position: relative;
    transition: flex-basis 0.3s;
    z-index: 2;
}
@media screen and (min-width: 1200px) {
    .layout-two-cols > .layout-two-cols-content {
        flex-basis: 70vw;
    }
}
