@charset "UTF-8";

.tooltip {
    background-color: var(--color-surface-container);
    border-radius: 0.25rem;
    box-shadow: var(--elevation-level-1);
    box-sizing: border-box;
    color: var(--color-on-surface);
    margin: 0;
    opacity: 0;
    position: fixed;
    padding: 0.25rem 0.5rem;
    transition: var(--motion-standard-accelerate) transform var(--easing-standard-accelerate);
    visibility: hidden;
    z-index: 10;
}
.tooltip.rich {
    padding: 0.5rem 1rem;
}
.tooltip.bottom-left {
    transform: translate(-0.25rem, 0.25rem);
}
.tooltip.bottom-right {
    transform: translate(0.25rem, 0.25rem);
}
.tooltip.top-left {
    transform: translate(-0.25rem, -0.25rem);
}
.tooltip.top-right {
    transform: translate(0.25rem, -0.25rem);
}
.tooltip.activated {
    opacity: 1;
    transform: translate(0);
    visibility: visible;
}
.tooltip > .text {
    font-size: 0.75rem;
    line-height: 1rem;
}
.tooltip > .head {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 0.25rem;
}
.tooltip > .action {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0.75rem;
}
.tooltip > .action > a {
    align-items: center;
    color: var(--color-primary);
    cursor: pointer;
    display: flex;
    fill: var(--color-primary);
    flex: 1 0 auto;
    font-size: 0.875rem;
    font-weight: bold;
    justify-content: center;
    line-height: 1.25rem;
    transition: var(--transition-hover);
}
.tooltip > .action > a:hover {
    opacity: 0.75;
}
